{
  "extends": [
    "plugin:react-hooks/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "react/prop-types": 0,
    "no-undef": "off",
    "react/no-unescaped-entities": "off",
    "newline-after-var": 2,
    "newline-before-return": 2,
    "prefer-const": 2,
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "consistent-return": 0,
    "require-default-props": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "react/display-name": 0,
    "react/jsx-curly-newline": 0,
    "@typescript-eslint/ban-ts-comment": 1,
    "@typescript-eslint/no-var-requires": 0,
    "react/jsx-uses-react": 0,
    "react/react-in-jsx-scope": 0,
    "no-debugger": 1
  },
  "parser": "@typescript-eslint/parser"
}
